@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

html{
    font-size : 10px;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: rgb(28, 27, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    

}

.container, .number-fact{
    border-radius: 8px;
    padding: 20px;
    width : 450px;
    background-color: rgb(42, 41, 42);
    font-size : 20px;
    color: aliceblue;

}



.number-fact{
    margin-top: 20px;
  
    
}

input[type="number"]{
    width: 70%;
    height: 40px;
    font-size: 24px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #3a3a3b;
    padding-left: 10px;
    color: aliceblue;
}

input[type="number"]::placeholder{
    font-size: 24px;
    font-family: "Nunito";
    font-weight: 400;
}

button{
    width: 25%;
    background-color: #3a3a3b;
    color : aliceblue;
    font-size: 24px;
    border:none;
    outline: none;
    cursor: pointer;
    /* padding: 10px; */
    border-radius: 4px;
    height: 40px;
    margin-left: 4px;
}



